<!doctype html>                                                                                                                                 
<html ng-app="app">
  <head>
    <script src="assets/application.js"></script>
  </head>
  <body>
    <div ng-view>
    </div>
  </body>
</html>
