<div ng-init="loadFilm()" class="main" style="background: url('{{film.image}}');background-size:320px;background-repeat: no-repeat;">
  <header>
  <a id="back" href="#/">
    <span class="topcoat-icon topcoat-icon--back"></span>
  </a>
  <h1>{{short_title(film)}}</h1>
  </header>

  <div id="content" class="topcoat-list__container scroller">
    <p class="rating">{{film.rating}}%</p>
    <ul class="topcoat-list list">
      <li class="topcoat-list__item">
        <a href="#/films;showings/{{film.id}}">
          <p>Screenings</p>
          <span class="chevron"></span>
        </a>
      </li>
      <li class="topcoat-list__item">
        <a href="#/films;reviews/{{film.id}}">
          <p>Reviews</p>
          <span class="chevron"></span>
        </a>
      </li>
    </ul>
  </div>
</div>
