<div id="template" ng-init="loadFilms()">
  <header>
    <h1>Classic Movies</h1>
    <a class="right" id="by-date" ng-click='go("/films;by-date")'>
      <span class="topcoat-icon icon icon-calendar"></span>
    </a>
  </header>

  <div class="scroller" >
    <ul class=list">
      <li ng-repeat="film in films">
        <a class="film" href="#/films/{{film.id}}">
          <span style="float:right" class="chevron"></span>
          <span class="title">{{film.title.trim()}}</span>
        </a>
      </li>
    </ul>
  </div>
  <div class='main' style="background: url('/images/Frankenstein3.png');background-size:320px 550px;background-repeat: no-repeat\"/>
  <div class="filler"/>
</div>
