<div ng-init="loadFilms()" ng-controller="FilmsController">
  <div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item center full">
      <h1 class="topcoat-navigation-bar__title">Classic Movies</h1>
    </div>
  </div>
  <div class="topcoat-list__container scroller" style="top:70px;">
    <ul class="topcoat-list list">
      <li ng-repeat="film in films" class="topcoat-list__item">
        <div class="film">
          <p class="title" ng-if="film.link == nil">{{film.title}}</p>
          <a class="title" ng-if="film.link != nil" href="#/films?link={{link(film)}}">{{film.title}}</a>
          <span ng-if="film.rating != nil" class="rating">{{film.rating}}%</span>
        </div>
        <ul class="list">
          <li ng-repeat="showing in film.showings">
            <div>{{when_formatted(showing)}} {{showing.times_on}}</div>
            <div>{{showing.cinema}}</div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
