<div ng-init="loadFilm()">
  <header>
    <a id="back" href="#/films/{{film.id}}">
      <span class="topcoat-icon topcoat-icon--back"></span>
      Details
    </a>
    <h1>Screenings</h1>
  </header>

  <div class="topcoat-list__container scroller">
    <ul class="topcoat-list list">
      <li ng-repeat="showing in film.showings" class="topcoat-list__item">
        <div class="film">
          <p>{{when_formatted(showing)}}</p>
        </div>
        <a href="#/films/{{film.id}}/showings/{{$index}}">
          <div class="film">
            <p>{{showing.cinema}} - {{showing.times_on}}</p>
            <span class="chevron"></span>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>

