<div id="template" ng-init="loadFilms()">
  <header>
    <div>
      <h1>Classic Movies</h1>
    </div>
    <span class="right" id="by-date" ng-click='go("/")'>
      <span class="topcoat-icon icon icon-movie"></span>
    </span>
  </header>

  <div class="scroller" >
    <ul class="list">
      <li ng-repeat="date in filmsDates()" class="day">
        <p>{{when_formatted(date)}}</p>
        <ul class="list">
          <li ng-repeat="film in filmsOn(date)">
            <span class="film" ng-click='go("/films/{{film.id}}")'>
              <span style="float:right" class="chevron"></span>
              <span class="title">{{film.title.trim()}}</span>
            </span>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class='main' style="background: url('/images/Frankenstein3.png');background-size:320px 550px;background-repeat: no-repeat\"/>
  <div class="filler"/>
</div>
