<div id="template" ng-init="loadFilms()">
  <header>
    <h1>Classic Movies</h1>
    <a class="right" id="by-date" href='#/'>
      <span class="topcoat-icon icon-movie"></span>
  </header>

  <div class="topcoat-list__container scroller" >
    <ul class="topcoat-list list">
      <li ng-repeat="date in filmDates()" class="topcoat-list__item day">
        <p>{{when_formatted(date)}}</p>
        <ul class="topcoat-list list">
          <li ng-repeat="film in filmsOn(date)" class="topcoat-list__item film">
            <a href="#/films/{{film.id}}">
              <div class="film">
                <p>{{film.title}}</p>
                <span class="chevron"></span>
              </div>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class='main' style="background: url('/images/Frankenstein3.png');background-size:320px 550px;background-repeat: no-repeat\"/>
  <div class="filler"/>
</div>
