<div id="template" ng-init="loadFilms()">
  <header>
    <span ng-class="filterStyle()" ng-click='toggleRatingFilter()'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <span class="previous" ng-click="previousCategory()">&nbsp;&nbsp;&nbsp;</span>
    <div>
      <h1>{{category()}}</h1>
    </div>
    <span class="next" ng-click="nextCategory()">&nbsp;&nbsp;&nbsp;</span>
    <span id="by-date" ng-click='toggleMode()'>
      <span ng-class="modeStyle() + ' topcoat-icon icon'"></span>
    </span>
  </header>

  <div class="scroller" >
    <ul class="list">
      <li bindonce="film" ng-repeat="film in allFilms()" ng-show="!byDate">
        <span class="film" ng-click='goForward("/films/{{film.id}}")'>
          <span style="float:right" class="chevron"></span>
          <span class="title" bo-text="film.title.trim()"></span>
          <span bo-if="great(film) && !superb(film)" class="icon-great">&nbsp;&nbsp;&nbsp;&nbsp;</span>
          <span bo-if="superb(film)" class="icon-superb">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        </span>
      </li>

      <li bindonce="date" ng-repeat="date in filmsDates()" class="day" ng-show="byDate">
        <p bo-text="when_formatted(date)"></p>
        <ul class="list">
          <li bindonce="film" ng-repeat="film in filmsOn(date)">
            <span class="film" ng-click='goForward("/films/{{film.id}}")'>
              <span style="float:right" class="chevron"></span>
              <span class="title" bo-text="film.title.trim()"></span>
              <span bo-if="great(film) && !superb(film)" class="icon-great">&nbsp;&nbsp;&nbsp;&nbsp;</span>
              <span bo-if="superb(film)" class="icon-superb">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            </span>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <div ng-class="backgroundStyle() + ' main'"></div>
  <div class="filler"></div>
</div>
